$fontSize: 18px;
$padding: 20px;
$borderRadius: 10px;
$boxShadow: 0 0 10px rgba(0, 0, 0, 0.1);
$hoverBoxShadow: 0 0 30px rgba(0, 0, 0, 0.1);
$pointerBackgroundColor: rgb(160, 248, 186);
$margin: 20px;

$zoomOut: zoomOut linear 0.2s forwards;
$zoomIn: zoomIn linear 0.2s forwards;


.container {
    display: flex;
    align-items: center;

    input {
        font-size: $fontSize;
        border: none;
        box-shadow: $boxShadow;
        border-radius: $borderRadius;
        padding: $padding;
        margin: $margin;
        width: 100vh;
    }

    input:hover {
        box-shadow: $hoverBoxShadow;
    }

    input:focus {
        animation: $zoomOut;
    }

    input:not(:focus) {
        animation: $zoomIn;
    }
}

.pointer {
    cursor: pointer;
    background: $pointerBackgroundColor;
}

@keyframes zoomOut {
    from {}
    to {
        transform: scale(1.05);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(1.05);
    }
    to {}
}