$padding: 10px;
$fontSize: 120%;
$fontColor: #000;


.button {
    position: fixed;
    top: 0;
    right: 20px;
    padding: $padding;
    font-size: $fontSize;
    color: $fontColor;
    background-color: unset;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.button:hover {
    text-decoration: underline;
}