$optionBackgroundColor: #fff;
$optionHoverBackgroundColor: #9cf885;
$selectedOptionBackgroundColor: #60d4f7;
$fontSize: 18px;
$padding: 20px;
$borderRadius: 10px;
$boxShadow: 0 0 10px rgba(0, 0, 0, 0.1);
$hoverBoxShadow: 0 0 30px rgba(0, 0, 0, 0.1);
$margin: 20px;

$zoomOut: zoomOut linear 0.2s forwards;
$zoomIn: zoomIn linear 0.2s forwards;

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;

    input {
        font-size: $fontSize;
        border: none;
        box-shadow: $boxShadow;
        border-radius: $borderRadius;
        padding: $padding;
        margin: $margin;
        width: 100vh;
    }

    input:hover {
        box-shadow: $hoverBoxShadow;
    }

    input:focus {
        animation: $zoomOut;
    }

    input:not(:focus) {
        animation: $zoomIn;
    }
}

.pane {
    display: flex;
    z-index: 1;

    .options {
        position: absolute;
        width: 100vh;
        padding: $padding;
        max-height: 50vh;
        overflow-x: hidden;
        overflow-y: scroll;

        .option {
            background: $optionBackgroundColor;
            margin-bottom: $margin;
            margin-right: $margin;
            padding: $padding;
            border-radius: $borderRadius;
            box-shadow: $boxShadow;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            animation: $zoomIn;

            &:hover {
                background: $optionHoverBackgroundColor;
                animation: $zoomOut;
            }
        }

        .selected {
            background: $selectedOptionBackgroundColor;
        }
    }
}

@keyframes zoomOut {
    from {}
    to {
        transform: scale(1.05);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(1.05);
    }
    to {}
}